<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344786996204-rid125fsgvvb8srdpq9f0nsm9gtlp14r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344786996204-rid125fsgvvb8srdpq9f0nsm9gtlp14r</string>
	<key>API_KEY</key>
	<string>AIzaSyABMsFC5xn5NGjSzSLyww9Nz1fkl7snC6A</string>
	<key>GCM_SENDER_ID</key>
	<string>344786996204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teachme.edu</string>
	<key>PROJECT_ID</key>
	<string>proj-6f079</string>
	<key>STORAGE_BUCKET</key>
	<string>proj-6f079.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344786996204:ios:0519bda67480cbf3338ec9</string>
</dict>
</plist>